<div class="user-box">
  <h2>邀请朋友</h2>
  <div class="alert alert-warning" role="alert" style="margin-top: 20px;" id="user-alert-warning">
    成功邀请一位未注册朋友，注册为我们的会员，然后您朋友激活了邀请，那么您和您的朋友都将获得500积分。
  </div>
  <%= render 'form' %>
</div>