<% if current_user.admin? %>
<%= link_to "进入后台", cpanel_root_path %><span class="dot">•</span>
<% end %>您好,<%= current_user.mobile %><span class="dot">•</span><%= link_to "我的水果社", home_user_path %><span class="dot">•</span><%= link_to "退出", destroy_user_session_path, method: :delete %><span class="dot">•</span><span><i class="glyphicon glyphicon-phone"></i> 18048553687<span>