<%= render "users/user_info" %>

<div class="alert alert-warning" role="alert" style="margin-top: 20px; margin-bottom:-20px;">
  <%= SiteConfig.cancel_order_tip %>
</div>

<div class="user-today-orders">
  <h2>
    我的未完成订单
  </h2>
  <div class="order-list">
    <%= render "/orders/order_list", cache_prefix: "user_#{current_user.mobile}_home_today_orders" %>
  </div>
</div>