/*
 *= require application
 *= require orders
 *= require users
 *= require apartments
 *= require_self
 */

$nature-green: rgb(99,185,76);
$medium-red: rgb(60,155,0);
$light-gray: #777;
$gray-medium-light: #eaeaea;
$common-border-color: rgb(204,204,204);

body {
  color: rgb(83,83,83);
}

// 关闭响应式设计
.container {
  width: 1024px !important;
}

//@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
//  .container {
//    max-width: 1100px;
//  }
//  .f24 {
//    font-size: 18px;
////    font-weight: bold;
//  }
//}


//@media only screen and (min-width: 1024px) {
//  .container {
//    max-width: 990px;
//  }
//}

.green {
  color: $nature-green;
}

.f16 {
  font-size: 16px;
}

.f12 {
  font-size: 12px;
}

.f13 {
  font-size: 13px;
}

.f14 {
  font-size: 14px;
}

.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.f24 {
  font-size: 24px;
}

.f30 {
  font-size: 30px;
}

.container-box {
  margin-top: 20px;
}

.topbar {
//  padding: 5px 0;
//  background-color: #eaeaea;
  font-size: 13px;
//  border-bottom: 1px solid #aaa;
  .topbar-box {
    border-bottom: 1px solid $nature-green;
    padding: 6px 0;
  }
  
  .dot {
    padding: 0 4px;
    color: $nature-green;
  }
  
  a {
    color: rgb(100,100,100);
  }

  .user-login {
    padding-left: 10px;
  }
}

.logo {
  display: block;
  width: 291px;
  height: 60px;
  line-height: 60px;
  img {
    border: 0;
  }
}

.logo-text {
  height: 56px;
  line-height: 56px;
}

.vertical-center {
  line-height: 120px;
}

.cart {
  background: image_url('cart.png') left center no-repeat;
  padding-left: 30px;
}

#carousel-ads {
  margin: 0;
//  margin-top: -22px;
//  margin-bottom: 20px;
}

//.order-head {
//  border: 1px solid #ccc;
//}

.home-ads-container {
  margin-bottom: 20px;
  #carousel-ads {
    width: 690px;
    height: 342px;
    float: left;
  }
  .sidebar-ad-container {
    border: 1px solid $nature-green;//$common-border-color;
    border-top: 0;
  }
}

.home-discount-products {
  margin-bottom: 30px;
  .product-link {    
    display: block;
    color: rgb(83,83,83);
    text-decoration: none;
    height: auto;
  }
  .item {
    border: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    
    &:hover {
      cursor: pointer;
      text-decoration: none;
      -moz-box-shadow: 0 0 6px 2px rgba(187, 187, 187, 0.75);
      -webkit-box-shadow: 0 0 6px 2px rgba(187, 187, 187, 0.75);
      box-shadow: 0 0 6px 2px rgba(187, 187, 187, 0.75);
    }
    
    background-color: white;
    .info {
      text-align: right;
      padding: 10px 10px 10px 0;
      .title {
        font-weight: bold;
        font-size: 16px;
      }
      .purchased {
        font-size: 15px;
        margin-top: 8px;
      }
      .countdown {
        font-size: 15px;
      }
    }
    img {
      display: block;
      width: 120px;
      height: 100px;
      margin-top: 20px;
      margin-left: 5px;
    }
    .numeric {
      font-family: Georgia, Times, "Times New Roman", serif;
      font-size: 24px;
//        font-weight: bold;
      color: $nature-green;
    }
  }
}

#carousel-ads .carousel-indicators {
//  display: none;
  li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid $nature-green;
    border-radius: 10px;
    &.active {
      background-color: $nature-green;
      border: 1px solid $nature-green;
    }
  }
} 

// 首页相关css
.home-content-box {
  
}
.content-box {
  margin: 0;
  margin-bottom: 10px;
  h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    margin-bottom: 20px;
    border-top: 2px solid $nature-green;
  }
}

.sidebar-right {
  margin: 0;
  padding: 0;
  
  .sidebar-right-box {
    margin-bottom: 20px;
    border: 1px solid $common-border-color;
  }
  
  .newsblasts-list {
//    border: 1px solid $gray-medium-light;
    h2 {
      margin: 0;
      padding: 0;
      padding: 10px;
      border-bottom: 1px solid $common-border-color;
      font-size: 18px;
      background-color: rgb(241,241,241);
      font-weight: bold;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 10px 0;
      li {
        padding: 0 10px;
        a {
          color: black;
        }
      }
    }
  }
}

.cart-result {
  color: rgb(83,83,83);
  padding: 10px;
  &:hover{
    text-decoration: none;
    color: rgb(83,83,83);
    border: 1px solid $common-border-color;
    border-bottom: 1px solid rgb(251,251,251);
  };
  .cart-total {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 18px;
  }
}

.common-table {
  border: 1px solid rgb(213,213,213);
  .table-head {
    background-color: rgb(240,240,240);
  }
  th,td {
    text-align: center;
    vertical-align: middle;
  }
  .item-title {
    text-align: left;
  }
  
  .cart-total-price {
    text-align: right;
    .numeric {
      font-family: Georgia, Times, "Times New Roman", serif;
      font-size: 24px;
    }
  }
  
}

.my-cart {
  .common-table {
    td {
      vertical-align: middle;
    }
  }
  .empty-cart {
    width: 500px;
    padding: 30px 0;
    margin: 0 auto;
  }
}

.product {
  .thumbnail {
    border: 0;    
    .item-link {
      
      &:hover {
        text-decoration: none;
      };
    } 
    .suggest-icon {
      position: absolute;
      top: 0;
      right: 15px;
    }
    
    &:hover {
      cursor: pointer;
      text-decoration: none;
      -moz-box-shadow: 0 0 6px 2px rgba(187, 187, 187, 0.75);
      -webkit-box-shadow: 0 0 6px 2px rgba(187, 187, 187, 0.75);
      box-shadow: 0 0 6px 2px rgba(187, 187, 187, 0.75);
    }
  }
  .caption {
    .name {
      color: rgb(83,83,83);
      font-size: 16px;
    }
    .price {
      .numeric {
        font-family: Georgia, Times, "Times New Roman", serif;
        font-size: 24px;
//        font-weight: bold;
        color: $nature-green;
      }
    }
    .price-extra {
//      text-align: right;
      font-size: 14px;
      del {
        font-size: 14px;
        color: rgb(107,107,107);
      }
      .purchased {
        background-color: $nature-green;
        padding: 2px;
        font-size: 13px;
        color: white;
      }
    }
  }
}

.price-numeric {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.product-info {
  margin-bottom: 10px;
}

.sidebar-box {
  border: 1px solid $common-border-color;
  margin-bottom: 20px;
//  padding-bottom: 10px;
  h2 {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid $common-border-color;
    background-color: rgb(241,241,241);
    font-size: 16px;
    font-weight: bold;
//    margin-bottom: 10px;
  }
  
  .sidebar-items {
    padding: 0 10px;
  }
  
  .sidebar-item {
    padding: 10px 0;
    border-bottom: 1px dashed $common-border-color;
    &:last-child {
      border: 0;
    };
  }
}

.help-section {
  border: 1px solid $common-border-color;
  padding-bottom: 60px;
  h2 {
    border-bottom: 1px solid $common-border-color;
  }
  ul {
    list-style: none;
    margin:0;
    padding: 0;
    padding-top: 5px;
    li {
      padding: 5px 0;
      a {
        &:hover {
          color: $nature-green; 
        }
      }
    }
  }
}

.help-item {
  margin-bottom: 20px;
  p {
    font-weight: bold;
  }
}
