/*
 *= require application
 *= require orders
 *= require users
 *= require_self
 */

$nature-green: rgb(99,185,76);
$medium-red: rgb(60,155,0);
$light-gray: #777;
$gray-medium-light: #eaeaea;
$common-border-color: rgb(204,204,204);

.green {
  color: $nature-green;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.f24 {
  font-size: 24px;
}

.topbar {
//  padding: 5px 0;
//  background-color: #eaeaea;
  font-size: 13px;
//  border-bottom: 1px solid #aaa;
  .topbar-box {
    border-bottom: 1px solid $nature-green;
    padding: 6px 0;
  }
  
  .dot {
    padding: 0 4px;
    color: $nature-green;
  }
  
  a {
    color: rgb(100,100,100);
  }

  .user-login {
    padding-left: 10px;
  }
}

.order-btn-box{
  padding-top: 15px;
}

.logo {
  display: block;
  width: 291px;
  height: 60px;
  line-height: 60px;
  img {
    border: 0;
  }
}

.logo-text {
  height: 56px;
  line-height: 56px;
}

#carousel-ads {
  margin-top: -22px;
  margin-bottom: 20px;
}

//.order-head {
//  border: 1px solid #ccc;
//}

.apartments {
  li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 20px;
    width: 180px;
    border: 1px solid $common-border-color;
    text-align: center;
  }
  
  .apartment {
//    width: 300px;
  }
}

#carousel-ads .carousel-indicators {
//  display: none;
  li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid $nature-green;
    border-radius: 10px;
    &.active {
      background-color: $nature-green;
      border: 1px solid $nature-green;
    }
  }
} 

// 首页相关css
.home-content-box {
  
}
.content-box {
  margin: 0;
  h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    margin-bottom: 20px;
    border-top: 2px solid $nature-green;
  }
}

.sidebar-right {
  margin: 0;
  padding: 0;
  
  .sidebar-right-box {
    margin-bottom: 20px;
    border: 1px solid $common-border-color;
  }
  
  .newsblasts-list {
//    border: 1px solid $gray-medium-light;
    h2 {
      margin: 0;
      padding: 0;
      padding: 10px;
      border-bottom: 1px solid $common-border-color;
      font-size: 18px;
      background-color: rgb(241,241,241);
      font-weight: bold;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 10px 0;
      li {
        padding: 0 10px;
        a {
          color: black;
        }
      }
    }
  }
}

.product {
  .thumbnail {
    border: 0;
  }
  .price {
    height: 35px;
    line-height: 35px;
  }
}

.weight-input-control {
  
}

.product {
  a.input-group-addon {
    text-decoration: none;
    cursor: pointer;
  }
}

