/*
 *= require application
 *= require jquery.chosen
 *= require_self
 */

@import "variables";

html {
  width: 100%;
}

body {
  width: 100%;
  padding-top: 40px;
  background-color: white;
  
  color: rgb(80,80,80);
}

a {
  color: rgb(80,80,80);
}

.navbar-button {
  display: block;
  height: 24px;
  margin-top: 8px;
  width: 24px;
  img {
    display: block;
    width: 24px;
    height: 23px;
  }
  
  &.right {
    float: right;
    margin-right: 5px;
  }
  &.left {
    margin-left: 5px;
  }
}

.logo {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.product_types {
  margin-top: 0.8em;
  .col-xs-6 {
    padding-left: 5px;
    padding-right: 5px;
  }
  a {
    display: block;
    background-color: rgb(235,235,235);
    text-align: center;
    font-size: 1.2em;
    padding: 5px 1.2em;
    color: rgb(80,80,80);
  }
}

.home-hot-sales {
  h2 {
    font-size: 1.2em;
    color: rgb(80,80,80);
  }
  .col-xs-6 {
    &.odd {
      padding-left: 5px;
      padding-right: 10px;
    }
    
    &.even {
      padding-left: 10px;
      padding-right: 5px;
    }
  }
}

.items-list {
  .product {
    .title {
      color: black;
      font-size: 90%;
      margin: 0;
      margin-top: 10px;
      width: 70%;
    }
    .price {
      margin-top: 5px;
    }
    .green {
      color: $nature-green;
    }
    .numeric {
      font-size: 1em;
    }
    .small-text {
      font-size: 0.8em;
    }
    .units {
      width: 30%;
      text-align: right;
    }
    .purchased {
      background-color: $nature-green;
      color: white;
    }
  }
}

.sales {
  margin-bottom: 10px;
  .sale {
    background-color: rgb(235,235,235);
    padding: 10px;
    text-align: center;
    margin-top: 8px;
  }
  
  .col-xs-6 {
    
  }
  .last {
    
  }
}


#footer {
  margin: 0 auto;
  border: 0;
  p {
    text-align: center;
  }
}