.orders {
  padding:0;
  .common-table {
    tr.order-info {
      background-color: rgb(248,248,248);
    }
    td {
      vertical-align: middle;
      font-size: 14px;
    }
    .order-detail-link {
      color: rgb(83,83,83);
//      &:hover {
//        color: $nature-green;
//      };
    }
  }
}

.order-detail {
  .common-table {
    td {
      vertical-align: middle;
      text-align: center;
    }
    td.item-title {
      text-align: left;
    }
  }
}

.order-btn-box{
  padding-top: 15px;
}

.order-info-container {
  border: 1px solid rgb(213,213,213);
  .common-table {
    td {
      vertical-align: middle;
    }
  }
  h3 {
    margin: 0;
    padding: 10px 20px;
    background-color: rgb(240,240,240);
    border-bottom: 1px solid rgb(213,213,213);
    font-size: 16px;
    font-weight: bold;
  }
  .order-item-info {
    h4 {
      font-size: 14px;
      font-weight: bold;
      margin: 0;
      margin-bottom: 10px;
    }
    padding: 20px 20px;
    border-bottom: 1px solid rgb(213,213,213);
    &:last-child {
      border: 0;
    };
  }
  .order-footer {
    text-align: right;
    padding: 10px 20px;
    background-color: rgb(240,240,240);
  }
}

.quantity-ctrl {
  display: inline-block;
  border: 1px solid rgb(213,213,213);
  .quantity {
    padding: 3px 15px;
  }
  .reduce, .increase {
    display: inline-block;
    width: 26px;
    padding: 3px 0;
    color: rgb(83,83,83);
    &:hover {
      text-decoration: none;
      cursor: pointer;
    };
  }
  .reduce {
    border-right: 1px solid rgb(213,213,213);
  }
  .increase {
    border-left: 1px solid rgb(213,213,213);
  }
}