$nature-green: rgb(99,185,76);
$medium-red: rgb(60,155,0);
$light-gray: #777;
$gray-medium-light: #eaeaea;

$navbar-height: 40px;
$nav-link-hover-bg: rgb(60,155,0);
$nav-link-active-bg: $nav-link-hover-bg;

$light-gray: #777;
$gray-medium-light: #eaeaea;
$gray-red: rgb(234,30,119);
$nature-green: rgb(99,185,76);

$common-border-color: rgb(204,204,204);