<div class="row">
  <div class="col-md-3">
    <%= render 'products/sidebar_products', products: @suggested_products, head_caption: "推荐区" %>
    <%= render 'products/sidebar_products', products: @hot_products, head_caption: "热门订购" %>
  </div>
  
  <div class="col-md-9">
    <% if @products.any? %>
      <%= render_grid_for @products %>
    <% else %>
      没有找到相关记录!
    <% end %>
  </div>
</div>
