<div class="apartment col-md-3 center">
  <%= image_tag apartment.image, alt: apartment.name %>
  <h3 class="f16"><%= apartment.name %></h3>
  <p>已订<em class="green f16"><%= apartment.orders_count %></em>单</p>
</div>