<% if @hot_apartments.any? %>
  <% cache(@hot_apartments) do %>
  <div class="sidebar-box">
    <h2>热门订购小区</h2>
    <div class="products">
      <% @hot_apartments.each do |apartment| %>
      <div class="center product">
          <%= image_tag apartment.image, alt: apartment.name %>
          <h3 class="f16"><%= apartment.name %></h3>
          <p>已经订购了<em class="green f16"><%= apartment.orders_count %></em>单</p>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>