<ul class="apartments">
  <% @apartments.each do |apartment| %>
  <li>
    <div class="apartment">
      <%= image_tag apartment.image, alt: apartment.name %>
      <div class="caption">
        <h3 class="text-center"><%= apartment.name %></h3>
      </div>
    </div>
  </li>
  <% end %>
</ul>

