<% content_for :content do %>
<div class="row">
  <div class="col-md-2">
    <div class="list-group">
      <%= link_to "我的订单", orders_user_path(current_user), class: "list-group-item #{controller_name == "users" and action_name == "orders" ? "active" : ""}" %>
      <%= link_to "个人资料设置", edit_user_registration_path, class: "list-group-item #{controller_name == "account" and action_name == "edit" ? "active" : ""}" %>
    </div>
  </div>
  <div class="col-md-10">
    <%= yield %>
  </div>
</div>

<% end %>

<%= render :template => 'layouts/application' %>